<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forbitbd.employeeman" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_config">

        <activity android:name=".ui.employee.EmployeeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.employeeAdd.AddEmployeeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.workerAdd.AddWorkerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.worker.singleWorkerAttendance.SingleWorkerAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.workerAttendance.WorkerAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.workerAttendance.attendance.AttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.workerAttendance.dailyWorkerAttendance.DailyWorkerAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.employee.singleEmployeeAttendance.SingleEmployeeAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.employeeAttendance.EmployeeAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.employeeAttendance.employeeAddAttendance.EmployeeAddAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.employee.employeeAttendance.dailyEmployeeAttendance.DailyEmployeeAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
